<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
	data-sly-call="${clientlib.css @ categories='we.train.stockplex'}" />

<div class="cmp-stockplex" data-sly-test.symbol="${properties.symbol}">
	<sly data-sly-use.stockplex="com.adobe.ats.core.models.Stockplex" />
	
    <div class="cmp-stockplex__column1">
	    <div class="cmp-stockplex__symbol">${stockplex.symbol}</div>
		<div class="cmp-stockplex__currentPrice">Current Value: ${stockplex.currentPrice}</div>
	    
	
	    <div class="cmp-stockplex__summary" data-sly-test.summary="${stockplex.summary}">
	        <h3>Summary: ${stockplex.summary}</h3>
	    </div>
	
	    <div class="cmp-stockplex__button">
	        <a href="${resource.path @ selectors='model', extension='json'}">
	        	<button>See this stock via JSON</button>
	        </a>
	    </div>
    </div>
    <div class="cmp-stockplex__column2">
	    <div  class="cmp-stockplex__details" data-sly-test="${stockplex.showStockDetails}">
			<ul data-sly-list.dataKey="${stockplex.data}"> 
				<li class="cmp-stockplex__details-item">
					<span class="cmp-stockplex__details-title">${dataKey}:</span> 
					<br />
					<span class="cmp-stockplex__details-data">${stockplex.data[dataKey]}</span>
				</li>
			</ul>
	    </div>
    </div>
</div>
 
<!-- If there is no stock symbol added to the dialog, create a component placeholder -->
<div data-sly-test="${!symbol}"class="cq-placeholder" data-emptytext="Stockplex Component"></div>