<sly data-sly-use.hero="pagehero.js">
    <div class="we-HeroImage width-full jumbotron"
         style="${hero.style @ context='styleString'}">
        <div class="container cq-dd-image">
            <div class="we-HeroImage-wrapper">
                <p class="h3">${properties.heading}</p>
                <strong class="we-HeroImage-title h1">${properties.jcr:title}</strong>

                <p data-sly-test="${properties.buttonLabel && properties.buttonLinkTo}">
                    <a class="btn btn-primary" href="${properties.buttonLinkTo @ extension = 'html'}" role="button">
                    ${properties.buttonLabel}
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</sly>